
$roboto-font: "Roboto", sans-serif;
$big-shoulders-font: "Big Shoulders", sans-serif;
$outfit-font: "Outfit", sans-serif;
// Color variables
$color-brown: #D5966C;
$color-black:#151515;
$color-gray: #444444;
$color-white: #FFFFFF;
