@import './abstracts/abstracts';
@import './vendors/vendors';
@import './base/base';
@import './components/components';
@import './layout/layout';
@import './pages/pages';
@import './themes/themes';
@import 'settings';

body{
    justify-items: center;
    background-color: rgb(236, 244, 252);
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    height: 2811px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    @include breakpoint(tablet){
        width: 100%;
        height: 2287px;
    }
    @include breakpoint(desktop){
        width: 100%;
        height: 100%;
    }
    @include breakpoint(largedesktop){
        width: 100%;
        height: 100%;
    }
    @include breakpoint(4k){
        width: 100%;
        height: 100%;
    }
    .old-lady{
        margin-bottom: 20px;
        @include breakpoint(tablet){
            display: none;
        }
        @include breakpoint(desktop){
            display: none;
        }
        @include breakpoint(largedesktop){
            display: none;
        }
        @include breakpoint(4k){
            display: flex;
            position: absolute;
            width: 100%;
        }
    }
    .old-lady-tablet{
        display: none;
        @include breakpoint(tablet){
            display:block;
            width: 437px;
            height: 700px;
            position: absolute;
            z-index: 0;
        }
        @include breakpoint(desktop){
            display: none;
        }
    }
    .old-lady-desk{
        display: none;
        @include breakpoint(desktop){
            display: flex;
            width: 540px;
            height: 800px;
            position: absolute;
            left: 300px;
            top: -60px;
            z-index: 0;
            scale: 0.85;
        }
        @include breakpoint(largedesktop){
            display: flex;
            width: 540px;
            height: 800px;
            position: absolute;
            right: 400px;
            z-index: 0;
            scale: 1;
        }
    }
    .old-lady-wrapper{
            @include breakpoint(desktop){
            display: flex;
            width: 540px;
            height: 800px;
            &::before{
                content: "";
                display: block;
                width: 540px;
                height: 800px;
                background-color: black;
                position: absolute;
                left: -40px;
                top: -60px;
                z-index: 0;
                scale: 0.85;
                @include breakpoint(largedesktop){
                    scale: 1;
                }
            }
        }
    }
    .hero{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        position: relative;
        z-index: 1;
        @include breakpoint(tablet){
            width: 339px;
            height: 410px;
            margin-top: 145px;
            margin-left: 389px;
            margin-bottom: 250px;
        }
        @include breakpoint(desktop){
            margin-left: 20px;
            margin-top: -660px;
            margin-bottom: 250px;
        }
        @include breakpoint(largedesktop){
            margin-left: 20px;
            margin-top: -660px;
            margin-bottom: 300px;
        }
        &-title{
            font-weight: 900;
            font-size: 60px;
            width: 340px;
            font-family: $big-shoulders-font;
            padding-top: 0;
            padding-bottom: 0;
            @include breakpoint(desktop){
                color: white;
                font-weight: 900;
                font-size: 66px;
                width: 520px;
                margin-left: 40px;
            }
            @include breakpoint(largedesktop){
                color: white;
                font-weight: 900;
                font-size: 96px;
                width: 520px;
                margin-left: 200px;
            }
        }
        &-desc{
            margin-top: 30px;
            padding: 0px 20px 20px 0px;
            font-weight: 200;
            font-size: 24px;
            font-family: $outfit-font;
            @include breakpoint(tablet){
                font-size: 18px;
            }
            @include breakpoint(desktop){
                font-size: 22px;
                font-weight: 200;
                width: 350px;
                margin-left: 650px;
                margin-top: -180px;
                line-height: 1.5;
            }
            @include breakpoint(largedesktop){
                font-size: 22px;
                font-weight: 200;
                width: 350px;
                margin-left: 950px;
                margin-top: -180px;
                line-height: 1.5;
            }
        }
        .buttons{
            width: 250px;
            display: flex;
            margin-top: 30px;
            margin-bottom: 130px;
            @include breakpoint(desktop){
                margin-left: 650px;
                margin-top: 40px;
            }
            @include breakpoint(largedesktop){
                margin-left: 950px;
                margin-top: 40px;
            }
            .btn-location{
                width: 204px;
                height: 72px;
                font-size: 20px;
                font-family: $big-shoulders-font;
                letter-spacing: 3.64px;
                color: white;
            }
            .btn-arrow{
                padding: 20px;
            }
        }
    }
    .content{
        display: flex;
        position: relative;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        @include breakpoint(tablet){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }
        @include breakpoint(desktop){
            display: grid;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            column-gap: 150px;
        }
        @include breakpoint(largedesktop){
            column-gap: 180px;
            margin-left: 160px;
            margin-bottom: 60px;
        }
        @include breakpoint(4k){
            display: flex;
            flex-direction: row;
            column-gap: 180px;
            margin-left: 160px;
            margin-bottom: 60px;
        }
        &-img{
            width: 343px;
            margin-left: auto;
            margin-right: auto;
            @include breakpoint(tablet){
                grid-column: 2 / span 1;
                width: 398px;
                height: 400px;
                margin-right: 30px;
            }
            @include breakpoint(desktop){
                display: none;
            }
            @include breakpoint(largedesktop){
                display: none;
            }
            @include breakpoint(4k){
                display: none;
            }
        }
        &-img-desk{
            display: none;
            @include breakpoint(desktop){
            display: flex;
            width: 635px;
            width: 400px;
            grid-column: 2 / span 1;
            grid-row: 1/ span 1;
        }
            @include breakpoint(largedesktop){
                scale: 1.75;
            }
            @include breakpoint(4k){
                display: flex;
                scale: 1.5;
                margin-left: 20px;
                margin-top: 30px;
                margin-right: 40px;
            }
        }
        &-container{
            @include breakpoint(tablet){
                    grid-column: 1 / span 1;
                    grid-row: 1 / span 1;
                    margin-left: 30px;
            }
            @include breakpoint(desktop){
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;
            }
            @include breakpoint(largedesktop){
                
            }
            @include breakpoint(4k){
                width: 700px;
            }
        }
        &-title{
            font-size: 60px;
            font-weight: 900;
            font-family: $big-shoulders-font;
            width: 300px;
            margin-left: 20px;
            margin-right: auto;
            margin-top: 20px;
            @include breakpoint(tablet){
                width: 203px;
                line-height: 1.0;
                font-size: 45px;
            }
            @include breakpoint(desktop){
                margin-top: 0;
            }
            @include breakpoint(4k){
                font-size: 82px;
                width: 700px;
            }
        }
        &-desc{
            width: 313px;
            font-size: 18px;
            font-weight: 100;
            font-family: $outfit-font;
            margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            @include breakpoint(tablet){
                width: 223px;
                font-weight: 200;
                line-height: 1.8;
            }
            @include breakpoint(desktop){
                width: 350px;
                font-size: 22px;
                line-height: 1.4
            }
            @include breakpoint(4k){
                font-size: 32px;
                font-weight: 300;
                color:rgba(0, 0, 0, 0.75);
            }
        }
    }
    .gallery{
        display: flex;
        flex-direction: column;
        position: relative;
        @include breakpoint(tablet){
            width: 689px;
            height: 720px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 15px;
            margin-bottom: 150px;
            margin-left: auto;
            margin-right: auto;
            gap: 5px;
        }
        @include breakpoint(desktop){
            display: grid;
            grid-template-columns: 500px 1fr;
            grid-template-rows: 320px 345px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 160px;
            margin-top: 20px;
            column-gap: 50px;
            row-gap: 20px;
        }
        @include breakpoint(largedesktop){
            display: grid;
            grid-template-columns: 635px 1fr;
            grid-template-rows: 320px 345px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 160px;
            margin-top: 20px;
            gap: 20px;
        }
        @include breakpoint(4k){
            display: grid;
            grid-template-columns: 530px 1fr;
            grid-template-rows: 460px 445px;
            margin-left: 70px;
            margin-right: auto;
            margin-bottom: 160px;
            margin-top: 350px;
            column-gap: 60px;
            row-gap: 20px;
        }
        &-img1{
            width: 343px; 
            height: 480px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            @include breakpoint(tablet){
                grid-template-columns: 1 / span 1;
                grid-row: 1 / span 2;
                width: 398px;
                height: 720px;
            }
            @include breakpoint(desktop){
                grid-template-columns: 1 / span 1;
                grid-row: 1 / span 2;
                width: 535px;
                height: 720px;
            }
            @include breakpoint(largedesktop){
                grid-template-columns: 1 / span 1;
                grid-row: 1 / span 2;
                width: 635px;
                height: 720px;
            }
            @include breakpoint(4k){
                scale: 1.78;
                margin-top: 190px;
                grid-column: 1 / span 1;
                grid-row: 1 / span 2;
            }
        }
        &-img2{
            width: 343px; 
            height: 200px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            @include breakpoint(tablet){
                display: none;
            }
            @include breakpoint(desktop){
                display: none;
            }
            @include breakpoint(4k){
                display: none;
            }
        }
        &-img2-tablet{
            display: none;
            @include breakpoint(tablet){
                display: flex;
                grid-column: 2 / span 1;
                grid-row: 1 / span 1;
                width: 280px;
                height: 313px;
            }
            @include breakpoint(desktop){
                display: none;
            }
            @include breakpoint(4k){
                display: none;
            }
        }
        &-img2-desk{
            display: none;
            @include breakpoint(desktop){
                display: flex;
                width: 400px;
                height: 320px;
            }
            @include breakpoint(largedesktop){
                display: flex;
                width: 445px;
            }
            @include breakpoint(4k){
                display: flex;
                width: 645px;
                grid-column: 2 / span 1;
                grid-row: 1 / span 1 ;
            }
        }
        &-article{
            display: flex;
            width: 343px;
            height: 293px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 110px;
            flex-direction: column;
            background-color: black;
            color: white;
            padding: 30px 20px;
            @include breakpoint(tablet){
                width: 280px;
                height: 396px;
                padding: 80px 40px;
                margin-top: -45px;
            }
            @include breakpoint(desktop){
                width: 400px;
                height: 377px;
                padding: 50px 60px;
            }
            @include breakpoint(largedesktop){
                width: 445px;
                height: 377px;
                padding: 60px 80px;
            }
            @include breakpoint(4k){
                width: 645px;
                height: 377px;
                padding: 60px 80px;
                grid-column: 2 / span 1;
                grid-row: 2 / span 1;
            }
            &-title{
                font-size: 50px;
                font-weight: 900;
                font-family: $big-shoulders-font;
                line-height: 1;
                margin-bottom: 30px;
                @include breakpoint(tablet){
                    width: 223px;
                }
                @include breakpoint(desktop){
                    font-size: 60px;
                    font-weight: 900;
                }
            }
            &-desc{
                font-size: 18px;
                font-weight: 100;
                font-family: $outfit-font;
                line-height: 1.4;
                @include breakpoint(tablet){
                    width: 223px;
                }
                @include breakpoint(desktop){
                    font-size: 22px;
                }
            }
        }
    }
    .footer{
        background-color: black;
        color: white;
        padding: 30px;
        padding-left: 90px;
        @include breakpoint(tablet){
            display: flex;
            align-items: baseline;
            width: 100%;
            height: 216px;
        }
        @include breakpoint(desktop){
            display: flex;
            align-items: center;
        }
        @include breakpoint(largedesktop){
            display: flex;
            align-items: center;
        }
        @include breakpoint(4k){
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        &-title{
            width: 250px;
            font-size: 20px;
            @include breakpoint(tablet){
                width: 200px;
            }
            @include breakpoint(desktop){
                width: 200px;
                margin-left: 30px;
                font-size: 24px;
            }
            @include breakpoint(largedesktop){
                width: 200px;
                margin-left: 100px;
                font-size: 30px;
            }
            @include breakpoint(4k){
                scale: 1.9;
                line-height: 1.6;
                width: 200px;
                margin-left: 100px;
                font-size: 30px;
            }
        }
        &-desc{
            width: 311px;
            font-size: 16px;
            font-weight: 100;
            font-family: $outfit-font;
            line-height: 1.7;
            margin-bottom: 40px;
            margin-top: 30px;
            @include breakpoint(tablet){
                width: 281px;
                font-size: 16px;
                margin-right: 100px;
            }
            @include breakpoint(desktop){
                width: 500px;
                font-size: 18px;
                margin-left: 30px;
                margin-right: 30px;
            }
            @include breakpoint(largedesktop){
                width: 600px;
                font-size: 18px;
                margin-left: 90px;
                margin-right: 90px;
            }
            @include breakpoint(4k){
                width: 600px;
                font-size: 24px;
                margin-left: 90px;
                margin-right: 90px;
            }
        }
        .facebook{
            margin-right: 15px;
            width: 20px;
            height: 20px;
            @include breakpoint(desktop){
                margin-left: 10px;
            }
            @include breakpoint(largedesktop){
                width: 40px;
                height: 40px;
            }
            @include breakpoint(4k){
                width: 40px;
                height: 40px;
            }
        }
        .instagram{
            margin-right: 15px;
            width: 20px;
            height: 20px;
            @include breakpoint(desktop){
                margin-left: 10px;
            }
            @include breakpoint(largedesktop){
                margin-left: 30px;
                width: 40px;
                height: 40px;
            }
            @include breakpoint(4k){
                width: 40px;
                height: 40px;
            }
        }
        .twiter{
            margin-right: 15px;
            width: 20px;
            height: 20px;
            @include breakpoint(desktop){
                margin-left: 10px;
            }
            @include breakpoint(largedesktop){
                margin-left: 30px;
                width: 40px;
                height: 40px;
            }
            @include breakpoint(4k){
                width: 40px;
                height: 40px;
            }
        }
    }
}

.location-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 375px;
    position: relative;
    @include breakpoint(tablet){
        width: 768px;
    }
    @include breakpoint(desktop){
        width: 1024px;
    }
    @include breakpoint(largedesktop){
        width: 1440px;
    }
    .back-to-home{
        display: flex;
        position: absolute;
        left: 30px;
        @include breakpoint(desktop){
            left: 130px;
        }
        @include breakpoint(largedesktop){
            left: 160px;
        }
        .arrow-btn{
            width: 56px;
            height: 62px;
            padding: 18px 24px;
            transform: rotate(180deg);
        }
        .back-home{
            width: 208px;
            height: 62px;
            font-size: 20px;
            color: white;
            font-family: $big-shoulders-font;
            border: none;
        }
    }
    iframe{
        width: 375px;
        height: 550px;
        @include breakpoint(tablet){
            width: 768px;
        }
        @include breakpoint(desktop){
            width: 1025px;
            height: 600px;
        }
        @include breakpoint(largedesktop){
            width: 1440px;
            height: 600px;
        }
    }
    .about{
        padding: 50px 20px;
        background-color: black;
        @include breakpoint(tablet){
            display: flex;
        }
        @include breakpoint(desktop){
            display: flex;
            height: 500px;
            padding: 70px 110px;
        }
        @include breakpoint(largedesktop){
            display: flex;
            height: 548px;
            padding: 90px 150px;
        }
        &-title{
            font-family: $big-shoulders-font;
            font-weight: 900;
            font-size: 50px;
            margin-bottom: 20px;
            color: white;
            @include breakpoint(tablet){
                margin-left: 20px;
                margin-right: 60px;
            }
            @include breakpoint(desktop){
                font-size: 70px;
                margin-right: 100px;
            }
            @include breakpoint(largedesktop){
                font-size: 70px;
                margin-right: 300px;
            }
        }
        &-street-name{
            font-family: $big-shoulders-font;
            font-weight: 900;
            color: $color-brown;
            margin-bottom: 20px;
        }
        &-city{
            font-size: 18px;
            font-family: $outfit-font;
            color: white;
            font-weight: 200;
            @include breakpoint(desktop){
                font-size: 22px;
                font-weight: 100;
            }
        }
        &-lic{
            font-size: 18px;
            font-family: $outfit-font;
            color: white;
            font-weight: 200;
            @include breakpoint(desktop){
                font-size: 22px;
                font-weight: 100;
            }
        }
        &-country{
            font-size: 18px;
            font-family: $outfit-font;
            color: white;
            font-weight: 200;
            @include breakpoint(desktop){
                font-size: 22px;
                font-weight: 100;
            }
        }
        &-desc{
            font-size: 18px;
            font-family: $outfit-font;
            color: white;
            margin-top: 25px;
            font-weight: 200;
            @include breakpoint(tablet){
                width: 398px;
            }
            @include breakpoint(desktop){
                font-size: 22px;
                font-weight: 100;
                width: 540px;
            }
        }
    }
    .footer{
        background-color: $color-brown;
        display: flex;
        flex-direction: column;
        padding: 30px;
        @include breakpoint(tablet){
            display: flex;
            flex-direction: row;
            height: 216px;
            justify-content: space-between;
            align-items:baseline ;
        }
        @include breakpoint(desktop){
            height: 200px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        @include breakpoint(largedesktop){
            height: 244px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &-title{
            width: 110px;
            height: 40px;
            margin-bottom: 30px;
            @include breakpoint(tablet){
                margin-top: 30px;
            }
            @include breakpoint(desktop){
                margin-left: 20px;
                scale: 150%;
            }
            @include breakpoint(largedesktop){
                margin-left: 120px;
                scale: 150%;
            }
        }
        &-desc{
            font-size: 16px;
            font-family: $outfit-font;
            font-weight: 200;
            margin-bottom: 40px;
            @include breakpoint(tablet){
                width: 281px;
            }
            @include breakpoint(desktop){
                margin-left: 70px;
                margin-right: 70px;
                width: 430px;
                font-size: 18px;
            }
            @include breakpoint(largedesktop){
                margin-left: 10px;
                margin-right: 10px;
                width: 430px;
                font-size: 18px;
            }
        }
        &-icons{
            display: flex;
            column-gap: 35px;
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
}