.header-xl{
    font-size: 96px;
    font-family: $big-shoulders-font;
}

.header-l{
    font-size: 70px;
    font-family: $big-shoulders-font;
}

.header-m{
    font-size: 60px;
    font-family: $big-shoulders-font;
}

.header-s{
    font-size: 36px;
    font-family: $big-shoulders-font;
}

.body-m{
    font-size: 22px;
    font-family: $outfit-font;
}

.body-s{
    font-size: 18px;
    font-family: $outfit-font;
}